<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>
      <%= flash[:notice] %>
      <h1>Bookmarks</h1>
      <% if @bookmarks.empty?%>
        <p>No bookmarks added yet!</p>
      <%end %>
      <% @bookmarks.each do |bookmark| %>
        <div class="bookmark">
          <li id="bookmark-<%= bookmark.id %>">
            <a href="<%= bookmark.url %>" target="_blank">
              <%= bookmark.title%>
            </a>
          </li>
          <br>
          <span class="bookmark-options">
            <form action="/bookmarks/<%= bookmark.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="delete-button">Delete</button>
            </form>
            <form action="/bookmarks/<%= bookmark.id%>/edit" method="get">
              <button type="submit" name="Edit">Edit</button>
            </form>
            <form action="/bookmarks/<%= bookmark.id%>/comments/new" method="get">
              <button type="submit"name="Add Comment">Add Comment</button>
            </form>
          </span>
        </div>
        <%unless bookmark.comments.empty?%>
        <h5>Comments</h5>
          <%bookmark.comments.each do |comment|%>
            <div class="comments">
              <li><%=comment.text%></li>
            </div>
          <%end%>
        <%end%>
        <br>
      <% end%>
      <br>
      <br>
      <footer>
        <h2>Add new bookmark</h2>
        <form method="post" action="/bookmarks">
          <input type="text" name="title" placeholder="Title" />
          <input type="text" name="url" placeholder="URL" />
          <br />
          <input type="submit" name="Submit" value="Submit" />
        </form>
      </footer>
    </main>
  </body>
</html>
